<template>
  <div >
    <div class="encabezado"> 
      <Loader />
    </div>
    <div class="cuerpo">
        <v-layout row align-start>
          <v-flex xs12 md10 offset-md1>
            <v-card dark color="blue" elevation-7>
              <div style="padding:1.3em; margin:auto;" >
                <Datos/>
              </div>
            </v-card>
          </v-flex>
        </v-layout>
    </div>
  </div>
</template>

<script>
import Datos from './components/datos/datos.vue'
import Loader from './components/loader/loader.vue'

export default {
  name: 'app',
  components: {
     Datos, Loader
  },
  data() {
    return{
      show : false
    }
  }
}
</script>

<style>
.encabezado{
  height: 30em;
}
.cuerpo{
  background: #323232;
}
</style>
