<template>
  <v-parallax dark src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg">
    <v-layout align-center column justify-center>
      <h1 class="display-2 font-weight-thin mb-3">App de notas</h1>
    </v-layout>
  </v-parallax>
</template>

<style  lang="css" scoped>

</style>
