<template>
    <div>
        <!-- inputDeNotas -->
        <div>
            <form @submit="addNote()">
                <v-layout row align-center>
                    <v-flex xs10 pl-5 pt-3>
                        <v-text-field v-model="note" :counter="100" label="Note" required> </v-text-field>    
                    </v-flex>
                    <v-flex xs2 offset-xs1="">
                        <v-btn color="success" v-on:click="addNote()">add</v-btn>
                    </v-flex>
                </v-layout>
            </form>
        </div>
        
        <br>
        <br>

        <!-- muestreo de las notas -->

        <v-layout column>
            <v-flex ma-3>
                <h1>Notas:</h1>            
            </v-flex>
            <v-flex xs10 pl-5>
                <ul>
                    <li v-for="item in items" v-bind:key="item.id">
                        <v-layout row align-center>
                                <v-icon ma-1 color="black" v-on:click.prevent="deleteNote(item)"> remove_circle </v-icon>   
                            <v-flex xs10 ma-3>
                                {{item.note}}
                            </v-flex>
                        </v-layout>
                    </li>
                </ul>
            </v-flex>
        </v-layout>   
    </div>         
</template>
<script>
import axios from "axios"

export default {

    data(){
        return {items:[],note:null}
    },
    mounted() {
        axios.get('http://localhost:3030/notes').then( response => (
            this.items = response.data.data
        ));
    },
    methods:{
        deleteNote(item){
            axios.delete('http://localhost:3030/notes/'+item._id).then( this.update() )
        },
        update(){
            setTimeout(() =>
            axios.get('http://localhost:3030/notes').then( response => (this.items = response.data.data)), 25)
        },
        addNote() {
            axios.post('http://localhost:3030/notes',{"note": this.note.toString()}).then( this.update() )
            this.note=null
        }
    }
}
</script>

<style lang="css" scoped>

ul{
    list-style: none;
}
li{
    /*margin: 1em;*/
    font-size: 1.3rem;
}
</style>
